<h1> About</h1>

<p>
	<%= link_to "One MOnth Rails", "http:onemonthrails.com" %> 
	is a project to teach 
	<%= link_to "Ruby on Rail", "https://rubyonrails.org" %> 
	in one month. This is my first app motherfucker.
</p>

