<div class="hero-unit">
	<h1>Welcome Bitches</h1>
	<p>
		You found it! 
		<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	</p>
	<p>
		<%=	 link_to "sign up now motherfucker", "#", class: "btn btn-large btn-primary" %>
	</p>
</div>